

.video-container {
    height: auto;
    margin: auto;
    border: 4px solid rgb(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    .video {
        outline: 0;
    }
    .container-buttons {
        height: 60px;
        background-color: linear-gradient(#000, #aaa);
        display: flex;
        justify-content: center;
        
        a {
            line-height: 60px;
            text-decoration: none;   
        }
         .fa-play {
             padding-top: 22px;
         }

        .fa-play,
        .fa-undo-alt,
        .fa-fast-backward,
        .fa-forward,
        .fa-expand {
            color: #fff;
            text-align: center;
            padding-left: 20px;
        }

     
        .fa-forward:hover,
        .fa-undo-alt:hover,
        .fa-fast-backward:hover,
        .fa-expand:hover
        {
            color: rgb(183, 25, 204);  
        }
    }

    // When the video is running
   .play {
       -webkit-animation: play 5s infinite;
       /* Safari 4+ */
       -moz-animation: play 5s infinite;
       /* Fx 5+ */
       -o-animation: play 5s infinite;
       /* Opera 12+ */
       animation: play 5s infinite;
       /* IE 10+, Fx 29+ */
   }

    @-webkit-keyframes play {
        0% {
            opacity: .2;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes play {
        0% {
            opacity: .2;
        }

        100% {
            opacity: 1;
        }
    }

    @-o-keyframes play {
        0% {
            opacity: .2;
            color: #fff;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes play {
        0% {
            opacity: .2;
        }

        100% {
            opacity: 1;
        }
    }


    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-thumb {
        margin-top: -9px;
    }

    input[type=range]::-moz-range-thumb {}

    input[type=range]::-ms-thumb {}


    input[type=range]::-webkit-slider-runnable-track {}

    input[type=range]::-moz-range-track {}

    input[type=range]::-ms-track {}

    input[type='range']:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        outline: none;
    }

    input[type=range]::-ms-fill-lower {}

    

  
}

input[type='range'] {
    // display: block;
    width: 100px;
    margin-left: 20px;
}

input[type='range']:focus {
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background-color:rgb(183, 25, 204);
    width: 15px;
    height: 15px;
    // padding: 3px;
    position: relative;
    top: 2px;
    // margin-top: -15px;
    border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
    background-color:rgb(183, 25, 204);
    width: 10px;
    height: 10px;
    margin-top: -19px;
    border: 3px solid rgb(183, 25, 204);
    border-radius: 50%;
}

input[type=range]::-ms-thumb {
    background-color:rgb(183, 25, 204);
    width: 15px;
    height: 15px;
    margin-top: -19px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #fff;
    height: 1px;
}

#vol-control {
    display: flex;
    background: transparent;
    color: #fff;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
}

input[type=range]::-moz-range-track {
    background-color: rgb(255, 255, 255);
    height: 1px;
}

input[type=range]::-ms-track {
    background-color: rgb(255, 255, 255);
    height: 1px;
}

input[type=range]::-ms-fill-lower {
    background-color: HotPink
}

input[type=range]::-ms-fill-upper {
    background-color: black;
}